.personal-info {
  padding-left: 0px;
}
.personal-info img {
  height: 340px;
  width: 310px;
  border-radius: 10px;
  object-fit: cover;
}
.pernifon {
  text-align: center;
}
.pernifon h1 {
  margin-top: 10px;
  font-size: 24px;
}
.socm ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
  margin-right: 45px;
}
.socm ul li img {
  height: 25px;
  width: 25px;
}
.socm ul li a {
  display: flex;
  font-size: 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
